{
  "root": true,
  "extends": [
      "@deip/eslint-config"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "always"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_argv"
        ],
        "allowAfterThis": true,
        "enforceInMethodNames": false
      }
    ],
    "no-template-curly-in-string": "off"
  }
}
